<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Panier</li>
        <li>
            <a href="{{ path('panier') }}">
                {% if articles == 0 %}
                    Aucun article dans votre panier
                {% elseif articles == 1 %}
                    1 article dans votre panier
                {% else %}
                    {{ articles }} articles dans votre panier
                {% endif %}
            </a>
        </li>
    </ul>
    <div class="accordion" id="accordion1">
        <!-- Element Group Heading -->
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion1" href="#collapse1"> <b>Element
                    Group 1</b>
            </a>
        </div>
        <!-- Elements -->
        <div id="collapse1" class="accordion-body collapse">
            <!--  -->
            <div class="accordion" id="accordion1-1">
                <div class="accordion-heading" style="margin-left: 30px">
                    <label class="radio" class="accordion-toggle"
                           data-toggle="collapse" data-parent="#accordion1-1"
                           data-target="#collapseOne1-1"> <input type="radio"
                                                                 name="optionsCheckboxList" value="1" />Element One
                    </label>
                </div>
                <!-- <div id="collapseOne1-1" class="accordion-body collapse">
                    <div class="accordion-inner" style="margin-left: 60px">
                        <!-- Sample Description
                        <input type="radio" name="selComment" value="descName"
                               onclick="populateComment(this.value)" />${desc1.name}<br />
                    </div>
                </div> -->
            </div>

            <!--<div class="accordion" id="accordion1-2">
               <div class="accordion-heading" style="margin-left: 30px">
                   <label class="radio" class="accordion-toggle"
                          data-toggle="collapse" data-parent="#accordion1-2"
                          data-target="#collapseOne1-2"> <input type="radio"
                                                                name="optionsCheckboxList" value="2" />Element Two
                   </label>
               </div>
               <div id="collapseOne1-2" class="accordion-body collapse">
                   <div class="accordion-inner" style="margin-left: 60px">
                       Sample Description -->
            <!--     <input type="radio" name="selComment" value="descName"
                     onclick="populateComment(this.value)" />${desc1.name}<br />
          </div>
      </div>
  </div>
 -->
        </div>
        <!-- Element Group Heading -->
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion2" href="#collapse2"> <b>Element
                    Group 2</b>
            </a>
        </div>
        <!-- Elements -->
        <div id="collapse2" class="accordion-body collapse">
            <!--  -->
            <div class="accordion" id="accordion2-1">
                <div class="accordion-heading" style="margin-left: 30px">
                    <label class="radio" class="accordion-toggle"
                           data-toggle="collapse" data-parent="#accordion2-1"
                           data-target="#collapseOne2-1"> <input type="radio"
                                                                 name="optionsCheckboxList" value="1" />Element One
                    </label>
                </div>
                <div id="collapseOne2-1" class="accordion-body collapse">
                    <div class="accordion-inner" style="margin-left: 60px">
                        <!-- Sample Description -->
                        <input type="radio" name="selComment" value="descName"
                               onclick="populateComment(this.value)" />${desc1.name}<br />
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="accordion" id="accordion2-2">
                <div class="accordion-heading" style="margin-left: 30px">
                    <label class="radio" class="accordion-toggle"
                           data-toggle="collapse" data-parent="#accordion2-2"
                           data-target="#collapseOne2-2"> <input type="radio"
                                                                 name="optionsCheckboxList" value="2" />Element Two
                    </label>
                </div>
                <div id="collapseOne2-2" class="accordion-body collapse">
                    <div class="accordion-inner" style="margin-left: 60px">
                        <!-- Sample Description -->
                        <input type="radio" name="selComment" value="descName"
                               onclick="populateComment(this.value)" />${desc1.name}<br />
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>