{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

                <div class="span12">
                    {% if produits|length != 0 %}
                <ul class="thumbnails">
                    {%  for produit in produits %}
                    <li class="span3">
                        <div class="thumbnail">
                            <a href="{{ path ('presentation',{ 'id' : produit.id }) }}">  <img src="{{ produit.image.path }}" alt="Odelices" width="300" height="300"></a>
                            <div class="caption">
                                <h4>{{ produit.nom }}</h4>

                            </div>
                        </div>
                    </li>
                    {% endfor %}
         <!-- asset('img/holder.png')  -->
                </ul>


                        <div class="text-center">{{ knp_pagination_render(produits) }}</div>

                    {% else %}
                        Aucun produit !!!
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}